@model Models.Borrows.BorrowAddModel

<div>
    @Html.Label("User")
    @Html.DropDownList("UsersList", new SelectList(Model.UsersList, "Key", "Value"), new { id = "UsersList" })
</div>

<div id="divBooksLists">
    @Html.Label("Book 1")
    @Html.DropDownList("BooksList1", new SelectList(Model.BooksList, "Key", "Value"), new { id = "BooksList1", onfocus = "focusBooksList('BooksList1')", onchange = "changeBooksList('BooksList1')" })
</div>

<button id="add" onclick="addBooksList('divBooksLists');">Add next</button>
<br/>
<button type="button" onclick="SaveAndSubmit()">OK</button>
<button type="button" onclick="Close()">Cancel</button>
